table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#right_column {
    padding: 10px;
    float: right;
    width: 75%;
}

#left_column {
    float: left;
    width: 22%;
}

#avatar {
    width: 20%;
    float: left;
    margin: 5px;
}

#username {
    width: 70%;
    float: right;
}

ul#nav_bar {
    list-style: none;
}

ul#nav_bar li {
    display: inline-block;
}

ul#nav_bar li a {
    display: inline-block;
    background-color: #fefefe;
    border: 1px solid;
    list-style: none;
    padding: 3px;
    border-radius: 5px 5px;
    color: rgb(40, 40, 40);
    text-decoration: none;
}

ul#nav_bar li a:hover {
    background-color: rgb(150, 150, 150);
}

#pop-up {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 28%; /* Could be more or less, depending on screen size */
    height: 15%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#custom_reason{
    margin: 12px;
    width: 80%;
    height: 55%;
}

#cf_reason{
    float: right;
    width: 15%;
    height: 15%;
    margin-right: 80px;
}

#select_reason{
    margin-left: 12px;
    width:80%;
}