<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ban list</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="banlist" ng-controller="myCtrl" id="angular_app">

<div id="left_column">
    <h3 id="username">a{ name }a</h3>
    <img id="avatar" src="a{ avatar }a">
    <p>Posts deleted: a{ post_num }a  Users ban: a{ user_num }a</p>
    <nav>
        <ul id='nav_bar'>
            <li><a href='/main'>Home</a></li>
            <li><a href='/history'>History</a></li>
            <li><a href='/ban_list'>Ban list</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
    </nav>
</div>
<div id="right_column">

    <table style="width: 100%">
        <colgroup>
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 30%">
        </colgroup>
        <tr>
            <th>User</th>
            <th>ID</th>
            <th>Time</th>
        </tr>
        <tr>
            <th><input type="text" ng-model="search.name"></th>
            <th><input type="text" ng-model="search._id"></th>
            <th><input type="text" ng-model="search.createdAt.$date"></th>
        </tr>
        <tr id='posts' ng-repeat="user in banned_users | filter: search">
            <td>a{ user.name }a
                <button id="a{ $index }a" class='a{ user._id }a' onclick="unBan(this)"> Unban</button>
            </td>
            <td> a{ user._id }a </td>
            <td> a{ user.createdAt.$date }a </td>
        </tr>
    </table>

</div>
<script>

    var application = angular.module("banlist", []);

    application.config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('a{');
        $interpolateProvider.endSymbol('}a');
    }]);
    application.controller("myCtrl", function ($scope, $http) {
        $http({
            method: 'GET',
            url: '/return_banlist'
        }).then(function successCallback(response) {
            $scope.banned_users = response.data;
        }, function errorCallback(response) {
            console.log("Error");
        });

        $http({
            method: 'GET',
            url: '/return_admin_info'
        }).then(function successCallback(response) {
            $scope.name = response.data[0];
            $scope.avatar = response.data[1];
            $scope.post_num = response.data[2];
            $scope.user_num = response.data[3];
        }, function errorCallback(response) {
            console.log("Error");
        });

        $scope.un_ban = function (class_name, id) {
            $scope.banned_users.splice(id, 1);
            var dataObj = JSON.stringify({type: "unban", id: class_name});
            $http({
                method: 'POST',
                url: '/return_data',
                data: dataObj
            }).then(function successCallback(response) {
                console.log(" post success!");
            }, function errorCallback(response) {
                console.log("Error");
            });
        };
    });

    function unBan(obj) {
        angular.element(document.getElementById("angular_app")).scope().un_ban(obj.className, obj.id);
    }

</script>
</body>
</html>
