<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="../static/history.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="history_page" ng-controller="myCtrl" id="del_post">

<div id="left_column">
    <h3 id="username">a{ name }a</h3>
    <img id="avatar" src="a{ avatar }a">
    <p>Posts deleted: a{ post_num }a Users ban: a{ user_num }a</p>
    <nav>
        <ul id='nav_bar'>
            <li><a href='/main'>Home</a></li>
            <li><a href='/history'>History</a></li>
            <li><a href='/ban_list'>Ban list</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
    </nav>
    <div ng-if="superstatus=='T'">
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width:25%;">
            </colgroup>
            <tr>
                <th>Admin</th>
                <th>Post deleted</th>
                <th>User banned</th>
            </tr>
            <tr id='posts' ng-repeat="admin in admins">
                <td>a{ admin.name }a</td>
                <td> a{ admin.post_deleted }a</td>
                <td> a{ admin.user_banned }a</td>
            </tr>
        </table>
    </div>
</div>
<div id="right_column">

    <div id="searchBoxes">
        <input type="text" ng-model="search.author">
    </div>

    <table style="width: 100%">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tr>
            <th>Type</th>
            <th>Content</th>
            <th>Author ID</th>
            <th>Author</th>
            <th>Reason</th>
        </tr>
        <tr id='posts' ng-repeat="post in past_posts | filter: search">
            <td>a{ post.type }a</td>
            <td> a{ post.content }a</td>
            <td> a{ post.author_id }a</td>
            <td>a{ post.author }a</td>
            <td>a{ post.reason }a</td>
        </tr>
    </table>

</div>
<script>

    var application = angular.module("history_page", []);

    application.config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('a{');
        $interpolateProvider.endSymbol('}a');
    }]);
    application.controller("myCtrl", function ($scope, $http) {
        $http({
            method: 'GET',
            url: '/return_history'
        }).then(function successCallback(response) {
            $scope.past_posts = response.data;
        }, function errorCallback(response) {
            console.log("Error");
        });
        $http({
            method: 'GET',
            url: '/return_admin_info'
        }).then(function successCallback(response) {
            $scope.name = response.data[0];
            $scope.avatar = response.data[1];
            $scope.post_num = response.data[2];
            $scope.user_num = response.data[3];
            $scope.superstatus = response.data[4];
        }, function errorCallback(response) {
            console.log("Error");
        });
        if ($scope.superstatus=='T') {
            $http({
                method: 'GET',
                url: '/return_admins'
            }).then(function successCallback(response) {
                $scope.admins = response.data;
            }, function errorCallback(response) {
                console.log("Error");
            });
        }
    });

</script>
</body>
</html>
