<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="dashboard" ng-controller="myCtrl" id="angular_app">

<div id="left_column">
    <h3 id="username">a{ name }a</h3>
    <img id="avatar" src="a{ avatar }a">
    <p>Posts deleted: a{ post_num }a Users ban: a{ user_num }a</p>
    <nav>
        <ul id='nav_bar'>
            <li><a href='/main'>Home</a></li>
            <li><a href='/history'>History</a></li>
            <li><a href='/ban_list'>Ban list</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
    </nav>
</div>
<div id="right_column">

    <div id="searchBoxes">
        <input type="text" ng-model="search.author">
        <input type="text" ng-model="search._id">
        <input type="text" ng-model="search.time">
        <input type="text" ng-model="search.content">
    </div>

    <table style="width: 100%">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 50%;">
        </colgroup>
        <tr>
            <th>Author</th>
            <th>ID</th>
            <th>Time</th>
            <th>Content</th>
        </tr>
        <tr id='posts' ng-repeat="post in suspicious_posts | filter: search">
            <td>a{ post.author }a
                <button id="a{ post.author_id }a" class="a{ $index }a" onclick="openPopUp(this, 'ban')"> Ban</button>
                <button id="a{ $index }a" class='a{ post._id }a' onclick="openPopUp(this, 'delete')"> Delete</button>
            </td>
            <td> a{ post._id }a</td>
            <td> a{ post.time }a</td>
            <td>a{ post.content }a</td>
        </tr>
    </table>

    <div id="pop-up">
        <div class="popup-content">
            <span class="close" onclick="closePopUp()"></span>
            Reason:
            <select id="select_reason" onchange="selectionChange();">
                <option value="Reason 1">Reason 1: blablablabla</option>
                <option value="Reason 2">Reason 2: bleblebleble</option>
                <option value="Reason 3">Reason 3: Avardavardavard</option>
                <option value="Reason 4"> Reason 4: Thithethithe</option>
            </select>
            <input id="custom_reason" placeholder="Reason" required="required"
                   autofocus="autofocus"/>
            <button onclick="confirmReason()">OK</button>
        </div>
    </div>

</div>
<script>

    var application = angular.module("dashboard", []);

    application.config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('a{');
        $interpolateProvider.endSymbol('}a');
    }]);
    application.controller("myCtrl", function ($scope, $http) {

        $http({
            method: 'GET',
            url: '/return_data'
        }).then(function successCallback(response) {
            $scope.suspicious_posts = response.data;
        }, function errorCallback(response) {
            console.log("Error");
        });

        setInterval(function () {
            $http({
                method: 'GET',
                url: '/return_data'
            }).then(function successCallback(response) {
                $scope.suspicious_posts = response.data;
            }, function errorCallback(response) {
                console.log("Error");
            });
        }, 300000);

        $http({
            method: 'GET',
            url: '/return_admin_info'
        }).then(function successCallback(response) {
            $scope.name = response.data[0];
            $scope.avatar = response.data[1];
            $scope.post_num = response.data[2];
            $scope.user_num = response.data[3];
        }, function errorCallback(response) {
            console.log("Error");
        });

        $scope.delPost = function (class_name, id, reason) {
            $scope.suspicious_posts.splice(id, 1);
            $scope.post_num = parseInt($scope.post_num) + 1;
            var dataObj = JSON.stringify({type: 'post_deletion', id: class_name, reason: reason});
            $http({
                method: 'POST',
                url: '/return_data',
                data: dataObj
            }).then(function successCallback(response) {
                console.log(" post success!");
            }, function errorCallback(response) {
                console.log("Error");
            });
        };

        $scope.banUser = function (class_name, id, reason) {
            $scope.suspicious_posts = $scope.suspicious_posts.filter(function (a_post) {
                return a_post.author_id != id;
            });
            $scope.user_num = parseInt($scope.user_num) + 1;
            var dataObj = JSON.stringify({type: 'user_ban', id: id, reason: reason});
            $http({
                method: 'POST',
                url: '/return_data',
                data: dataObj
            }).then(function successCallback(response) {
                console.log(" post success!");
            }, function errorCallback(response) {
                console.log("Error");
            });
        };

    });

    var select_box = document.getElementById("pop-up");
    {#    place holder #}
    var class_name = null;
    var id = null;
    var decision = null;

    function openPopUp(obj, string) {
        select_box.style.display = "block";
        class_name = obj.className;
        id = obj.id;
        decision = string;
    }

    function closePopUp() {
        select_box.style.display = 'none';
    }

    function confirmReason() {
        var reason = document.getElementById("custom_reason").value;
        if (reason) {
            if (decision == 'ban') {
                angular.element(document.getElementById("angular_app")).scope().banUser(class_name, id, reason);
            }
            else {
                angular.element(document.getElementById("angular_app")).scope().delPost(class_name, id, reason);
            }
        }
        closePopUp();
    }

    function selectionChange() {
        var e = document.getElementById("select_reason");
        var str = e.options[e.selectedIndex].value;

        document.getElementById('custom_reason').value = str;
    }

</script>
</body>
</html>
